<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.png">
    <meta charset="UTF-8">
    <title>Register - PadelStats</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="login-box">
    <h2>Register</h2>
    <form method="post" action="/register" th:object="${registerRequest}">
        <div class="user-box">
            <input type="text" name="Username" required="">
            <label>Username</label>
        </div>
        <div class="user-box">
            <input type="email" name="Email" required="">
            <label>Email</label>
        </div>
        <div class="user-box">
            <input type="password" name="Password" required="">
            <label>Password</label>
        </div>
        <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Submit
        </a>
        <a href="/">Navigate to main page?</a>
    </form>
</div>

</body>
</html>